* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

a[target="_blank"]::after {
  content: "\29C9";
  margin-left: 5px;
  font-size: 0.7em;
}

body {
  background-image: linear-gradient(120deg, #b3e94e 0%, #009bd8 100%);
  font-family: "Baloo 2", sans-serif;
  font-weight: 500;
  color: #eee;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

main {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: 1s fadegrow ease-in-out;
}

@keyframes fadegrow {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

logo-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

logo-holder > h1 {
  letter-spacing: 0.07em;
  font-size: 3em;
  padding: 5px 40px;
}

bar-holder {
  margin-bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

low-bar,
high-bar {
  background: linear-gradient(120deg, #ddd, #eee);
  width: 25px;
  height: 2.5em;
  border-radius: 50px 5px;
  margin: 0 3px;
  transform: rotate(30deg);
  transition-property: height;
  transition-timing-function: ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

low-bar:nth-child(1),
low-bar:nth-child(5) {
  transition-duration: 0.4s;
}

low-bar:nth-child(2) {
  transition-duration: 0.3s;
}

low-bar:nth-child(3) {
  transition-duration: 0.2s;
}

high-bar {
  height: 4.5em;
  border-radius: 50px 10px;
}

bar-holder:hover > low-bar {
  height: 3.5em;
}

owner-links a::before {
  content: "";
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.ln-ant::before {
  background-image: linear-gradient(120deg, #009bd8 0%, #bd5495 100%);
}

.ln-mup::before {
  background-image: linear-gradient(120deg, #9c1d43 0%, #c7e94e 100%);
}

owner-links a:hover::before {
  opacity: 1;
}

owner-links a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  display: inline-block;
  margin: 10px;
  padding: 0px 10px;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

owner-links a:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
